* {
  padding: 0; margin: 0; box-sizing: border-box;
  font-family: Inter;
}

:root {
  font-family: var(--font-inter), sans-serif;

  --mainWhite: #fefefe;
  --lightGray: #f5f5f5;
  --darkGray: #525252;
  --mainBlack: #201F2F;

  --breakpointSmall: 800px;
}

::selection {
  background-color: #ffe7b3; 
  color: #0D0E0F;          
}

a, button {
  cursor: pointer;
}

body {
  background-color: var(--mainWhite);
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}


/* #region Configurator */
.configurator-step {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column; /* row */
}

.configurator-step > div {
  height: 100%;
}

.item-main {
  width: 100%; /* calc(100% - 30rem); */
  position: relative;
  background-image: url("../../public/assets/images/ilustrace.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  z-index: 10;
  padding-top: 2.8rem; /* 0 */
}

.item-sidebar {
  width: 100%; /* 30 rem */
  display: flex;
  flex-direction: column; /* row */
  height: 50%;
  overflow-y: auto;
}

.product-list-wrapper {
  width: 100%; /* 3.75rem */
  height: 3.75rem; /* 100% */
  max-width: 100dvw;
  overflow: hidden;
  border-right: 2px solid var(--lightGray);
  background-color: var(--lightGray);
  display: flex;
  flex-direction: row; /* column */
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 20;
  overflow-x: scroll;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

.product-list-wrapper img {
  aspect-ratio: 1 / 1;
  padding: 0.8rem;
  background-color: var(--mainWhite);
  border-bottom: 2px solid var(--lightGray);
  transition-duration: 200ms;
  cursor: pointer;
}

.product-selection-wrapper {
  width: 100%; /*calc(100% - 3.75rem)*/
  height: 100%;
  overflow-y: auto;
}

.product-selection-wrapper > p {
  margin: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.product-category-selection, .product-subcategory-selection {
  padding-inline: 1.25rem;
  padding-block: 0.5rem;
  border-bottom: 2px solid var(--lightGray);
  display: flex;
  gap: 0.88rem;
  width: 100%;
  flex-wrap: wrap;
}

.product-category-selection button {
  padding: 0.44rem 0.88rem 0.44rem 0.88rem;
  border: 1px solid var(--mainBlack);
  background-color: var(--mainWhite);
  font-weight: 600; 
  transition-duration: 200ms;
}

.product-subcategory-selection button {
  padding: 0.44rem 0.88rem 0.44rem 0.88rem;
  border: 1px solid var(--darkGray);
  color: var(--darkGray);
  background-color: var(--mainWhite);
  font-weight: 600; 
  transition-duration: 200ms;
}

.product-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.62rem;
  padding: 1.25rem;
  width: 100%;
}

.product-items-wrapper > div {
  width: calc(33% - 6px); /*7.37rem*/
  padding: 0.25rem;
  min-height: 3rem;
  cursor: pointer;
  transition-duration: 300ms;
  position: relative;
}

.product-items-wrapper > div:hover {
  background-color: var(--lightGray);
}

.product-items-wrapper img {
  width: 100%;
  margin-bottom: 0.62rem;
}

.product-items-wrapper p {
  font-weight: 400;
}

.product-items-wrapper b {
  font-weight: 500;
}

.product-items-wrapper h5 {
  font-size: 0.75rem;
  text-align: center;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  padding-block: 0.15rem;
  font-weight: 400;
  position: absolute;
  bottom: calc(7.5dvh);
  width: calc(100% - 6px);
}

.configurator-top-line {
  padding: 1.25rem;
  position: absolute;
  top: 2.8rem; /* 0 */
  left: 0;
  display: flex;
  gap: 1.13rem;
  width: calc(100% - 2.2rem); /* auto */
  justify-content: space-between;
}

.configurator-top-mobile-line {
  background-color: var(--mainBlack);
  padding-inline: 1.25rem;
  justify-content: space-between;
  display: flex; /* none */
  align-items: center;
  height: 2.8rem;
  width: 100%;
  position: absolute;
  font-size: 0.875rem;
  color: var(--mainWhite);
  font-weight: 600;
  top: 0; left: 0;
}

.mobile-icon-button {
  display: flex;
  gap: 1rem;
}

.configurator-top-mobile-line a {
  text-decoration: underline;
}

.configurator-bottom-line {
  padding: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: end;
}

.selection-buttons {
  display: flex;
}

.selection-buttons button {
  font-weight: 600;
  padding: 0.75rem 1.88rem 0.75rem 1.88rem;
  border: 1px solid var(--mainBlack);
  background-color: var(--mainWhite);
  transition-duration: 200ms;
}

.selection-options {
  display: flex;
  position: relative;
}

.selection-option {
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--mainBlack);
  border-right: none;
  transition-duration: 200ms;
}

.customization-menu {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 47px; /* 52px */
  padding-top: 3.5rem;
  border: 1px solid var(--mainBlack);
  display: none;
  z-index: 100;
}

.customization-menu img {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
  border-top: 1px solid var(--mainBlack);
  margin-bottom: -4px;
  cursor: pointer;
  transition-duration: 200ms;
  background-color: var(--mainWhite);
}

.customization-menu img:hover {
  background-color: #d6d6d6;
}

.selection-option > img {
  width: 1.5rem;
}

.filter-assets p {
  background-color: var(--mainBlack);
  height: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--mainWhite);
}

.filter-assets img {
  height: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.wrapper-column, .login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-wrapper {
  display: none; /* flex */
}

.login-link {
  color: var(--mainBlack);
  text-decoration: underline var(--mainBlack);
  font-weight: 600;
}

.icon-button, .button-white, .button-black {
  height: 3.25rem;
  font-weight: 600;
  padding-inline: 1.5rem;
  border: 1px solid var(--mainBlack);
}

.icon-button {
  display: flex;
  background-color: var(--mainWhite);
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
}

.icon-button img {
  width: 1.5rem;
}

.button-white {
  background-color: var(--mainWhite);
  color: var(--mainBlack);
  transition-duration: 200ms;
}

.button-black {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  transition-duration: 200ms;
}

.button-white:hover {
  background-color: #ddd;
}

.button-black:hover {
  opacity: 80%;
}

.slider-indicator {
  background-color: var(--mainBlack);
  height: 3.2rem;
  z-index: 500;
  width: 1.5rem;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-indicator img {
  background-color: transparent;
  border: none;
  height: 1.5rem;
  width: 1rem;
  padding-left: 0.2rem;
}

@media (width > 1000px) {
  .slider-indicator {
    display: none;
  }

  .product-selection-wrapper {
    width: calc(100% - 3.75rem); /*calc(100% - 3.75rem)*/
  }
  .configurator-top-mobile-line {
    display: none;
  }

  .configurator-step {
    flex-direction: row; /* row */
  }

  .item-main {
    width: calc(100% - 30rem); /* calc(100% - 30rem); */
    padding-top: 0; /* 0 */
  }

  .item-sidebar {
    width: 30rem; /* 30 rem */
    flex-direction: row; /* row */
  }

  .product-list-wrapper {
    width: 3.75rem; /* 3.75rem */
    height: 100%; /* 100% */
    flex-direction: column; /* column */
  }

  .configurator-top-line {
    top: 0; /* 0 */
    width: auto; /* auto */
  }

  .configurator-top-mobile-line {
    display: none; /* none */
  }

  .customization-menu {
    width: 52px; /* 52px */
  }

  .login-wrapper {
    display: flex; /* flex */
  }
}
/* #endregion */


/* #region Home page */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--mainWhite);
  z-index: 400;
  height: 4rem;
  padding-inline: 3.75rem;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 2.5rem;
}

.navbar-container p {
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  gap: 1.88rem;
}

.navbar-icons img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.home-page {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  position: relative;
}

.home-page video {
  position: absolute;
  width: 100%;
  margin-top: 0%; /* -65% */
  height: 100dvh; /* auto */
  object-fit: cover; /* auto */
}

.hero-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50%; /* 14% */
}

.hero-section h1 {
  color: var(--mainWhite);
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  max-width: 77rem;
  width: 100%;
  padding-inline: 1rem;
}

.hero-section p {
  font-weight: 500;
  color: var(--mainWhite);
  padding-top: 1.7rem;
  text-align: center;
}

.hero-section button {
  padding: 1rem 3rem 1rem 3rem;
  font-weight: 800;
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  border: none;
  margin-top: 5rem;
  transition-duration: 200ms;
}

.hero-section button:hover {
  opacity: 80%;
}


@media (width > 800px) {
  .home-page video {
    margin-top: -65%; /* -65% */
    height: auto; /* auto */
    object-fit: auto; /* auto */
  }

  .hero-section {
    padding-top: 15%; /* 14% */
  }

  .navbar {
    display: flex;
  }
}
/* #endregion */


/* #region Selection page */
.selection-page {
  height: 100dvh;
  overflow: none;
  width: 100%;
  display: flex;
  flex-direction: column; /* row */
}

.selection-page > div {
  width: 100%;
  height: 100%; /* auto */
  background-size: 100%; /* 105% */
  background-position: top; /* center */ 
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 10%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--mainWhite);
  text-align: center;
}

.selection-page > div:nth-child(1) {
  background-image: url("../../public/assets/images/selection-rider.png");
}
.selection-page > div:nth-child(2) {
  background-image: url("../../public/assets/images/selection-horse-and-rider.png");
}
.selection-page > div:nth-child(3) {
  background-image: url("../../public/assets/images/selection-horse.png");
}

.selection-page > div:hover {
  background-size: 110%;
}


@media (width > 800px) {
  .selection-page {
    flex-direction: row; /* row */
  }

  .selection-page > div {
    height: auto; 
    background-size: 150%; /* 105% */
    background-position: center; /* center */
    padding-bottom: 25%; 
  }

  .selection-page > div:hover {
    background-size: 155%;
  }
}

@media (width > 1200px) {
  .selection-page > div {
    background-size: 105%; /* 105% */
    padding-bottom: 14%;
  }

  .selection-page > div:hover {
    background-size: 115%;
  }
}
/* #endregion */


/* #region Product options */
.product-options {
  position: fixed;
  display: none;
  width: 100%;
  height: 100dvh;
  left: 0; top: 0;
  z-index: 200;
  backdrop-filter: blur(8px);
  justify-content: right;
}

.product-options > div {
  height: 100%;
  max-width: 100%; /*55rem*/
  width: 100%;
  background-color: var(--mainWhite);
  border-left: 1px solid var(--mainBlack);
  display: flex;
  flex-direction: column;
}

.options-heading {
  height: 3rem; /*5rem*/
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  align-items: center;
  border-bottom: 2px solid var(--lightGray);
}

.options-heading h1 {
  font-weight: 600;
}

.options-content {
  height: 100%;
  padding: 1.25rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column; /*row*/
}

.options-content > div {
  height: 100%;
}

.options-content > div:nth-child(1) {
  width: 100%; /*60%*/
  display: flex;
  flex-direction: column;
  height: 34%; /*auto*/
}

.icon-size-24 {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition-duration: 200ms;
}

.icon-size-24:hover {
  scale: 1.1;
}

.options-configurator {
  height: 100%;
  border: 1px solid var(--mainBlack);
  margin-bottom: 1rem;
  background-color: var(--mainWhite);
}

.options-configurator img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.options-configurator-description button {
  width: 100%;
  background-color: var(--mainBlack);
  padding-block: 0.4rem;
  font-weight: 600;
  color: var(--mainWhite);
  border: none;
  margin-block: 1rem;
}

.options-configurator-description h2 {
  font-weight: 600;
  max-width: 66%;
}

.options-configurator-description p {
  font-weight: 500;
}

.options-configurator-description a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--darkGray);
}

.wrapper-between-down, .wrapper-between-up, .wrapper-between-middle {
  display: flex;
  justify-content: space-between;
}

.wrapper-between-middle {
  align-items: center;
}

.wrapper-between-down {
  align-items: end;
}

.options-content > div:nth-child(2), .options-content > div:nth-child(3) {
  width: 100%; /*40%*/
  height: 50%; /*auto*/
  display: flex;
  flex-direction: column;
  gap: 1rem; /*0rem*/
  padding: 0rem 1.25rem 1.25rem 1.25rem;
  position: absolute; /*auto*/
  bottom: 0;
  left: 0;
  margin-top: 4.8rem;
}

.options-content .button-white, .options-content .button-black {
  width: 100%; /*auto*/
}

.options-content .wrapper-between-up {
  display: none;
}

.options-content > div:nth-child(3) {
  display: none;
}

.product-options-scroll {
  height: calc(100dvh - 13rem);
  overflow-y: scroll;
  padding-right: 1rem;
}

.product-details-scroll {
  height: calc(100dvh - 13rem);
  margin-top: 1rem;
  overflow-y: scroll;
  padding-right: 1rem;
}

.product-details-scroll b, .product-details-scroll p, .product-details-scroll a {
  font-weight: 600;
}

.product-details-scroll p {
  font-weight: 500;
  padding-top: 1rem;
}

.product-details-scroll a {
  color: var(--darkGray);
  text-decoration: underline;
}

.spacer-medium {
  height: 1.25rem;
}

.spacer-small {
  height: 0.5rem;
}

.product-options-buttons {
  height: 6rem;
  display: flex;
  gap: 0.62rem;
  align-items: end;
}

.sample-box {
  background-color: #ddd;
  height: 15rem;
  margin-bottom: 1rem;
}

.color-options-wrapper {
  display: flex;
  width: 100%;
  gap: 0.25rem;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.color-options-wrapper > div {
  width: 2.86rem;
  height: 2.2rem;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.2rem;
  cursor: pointer;
  transition-duration: 200ms;
}

.color-options-wrapper > div > div {
  background-color: pink;
  width: 100%;
  height: 100%;
}


@media (width > 1000px) {
  .product-options > div {
    max-width: 55rem; /*55rem*/
  }
  .options-heading {
    height: 5rem; /*5rem*/
  }
  .options-content {
    flex-direction: row; /*row*/
  }
  .options-content > div:nth-child(1) {
    width: 60%; /*60%*/
    height: auto; /*auto*/
  }
  .options-content > div:nth-child(2), .options-content > div:nth-child(3) {
    width: 40%; /*40%*/
    padding-inline: 0rem;
    padding-bottom: 0rem;
    height: auto; /*auto*/
    gap: 0rem; /*0rem*/
    position: static; /*auto*/
    margin-top: 0rem;
  }
  .options-content .button-white, .options-content .button-black {
    width: auto; /*auto*/
  }
  .options-content .wrapper-between-up {
    display: flex;
  }
}
/* #endregion */


/* #region Filters */
.filters-modal {
  z-index: 200;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  padding: 0rem; /*2rem*/
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
}

.filters-modal > div {
  width: 100%;
  height: 100%;
  background-color: var(--mainWhite);
  border: 1px solid var(--mainBlack);
  max-width: 100%; /*58rem*/
  padding: 3rem 1rem 3rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column; /*row*/
  gap: 1rem; /*0rem*/
  overflow-y: auto; /*hidden*/
}

.filters-modal > div > img {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.filters-modal .selection-large, .filters-modal .selection-small {
  height: auto; /*100%*/
  max-height: calc(100% - 7rem);
  position: relative;
}

.filters-modal .selection-large > img, .filters-modal .selection-small > img {
  position: absolute;
  right: 0.5rem;
  top: 4px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.filters-modal .selection-large {
  width: 100%; /*calc(50% - 7.5rem)*/
  padding: 0rem 1rem 0rem 1rem;
  border-right: none; /*2px solid var(--lightGray)*/
}

.filters-modal .selection-small {
  width: 100%; /*15rem*/
  padding: 0rem 1rem 0rem 1rem;
}

.filters-modal h2 {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 1rem; /*2.5rem*/
}

.filters-scroll {
  overflow-y: scroll;
  padding-right: 1rem;
  height: calc(100% - 4rem); /*calc(100% - 4rem)*/
  display: none; /*block*/
}


@media (width > 1000px) {
  .filters-modal {
    padding: 2rem; /*2rem*/
  }

  .filters-modal .selection-large > img, .filters-modal .selection-small > img {
    display: none;
  }

  .filters-modal > div {
    max-width: 58rem; /*58rem*/
    flex-direction: row; /*row*/
    gap: 0rem; /*0rem*/
    overflow-y: hidden; /*hidden*/
  }

  .filters-modal .selection-large, .filters-modal .selection-small {
    height: 100%; /*100%*/
    max-height: 100%;
  }

  .filters-modal .selection-large {
    width: calc(50% - 7.5rem); /*calc(50% - 7.5rem)*/
    border-right: 2px solid var(--lightGray); /*2px solid var(--lightGray)*/
  }

  .filters-modal .selection-small {
    width: 15rem; /*15rem*/
  }

  .filters-modal h2 {
    padding-bottom: 2.5rem; /*2.5rem*/
  }

  .filters-scroll {
    height: calc(100% - 4rem); /*calc(100% - 4rem)*/
    display: block; /*block*/
  }
}
/* #endregion */


/* #region Customizace */
.customization-modal {
  display: none;
  flex-direction: column; /*row*/ 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: #ddd;
}

.customization-modal > div {
  height: 50%; /*100%*/
}

.customization-modal > div:nth-child(1) {
  width: 100%; /*calc(100% - 30rem)*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customization-modal > div:nth-child(1) > img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.customization-modal > div:nth-child(2) {
  width: 100%; /*30rem*/
  background-color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customization-scroll {
  margin-top: 0;
  margin-bottom: 1.25rem;
  min-height: calc(50dvh - 9.5rem);
  overflow-y: auto;
  padding-inline: 1.25rem;
}

.customization-modal .top-line {
  width: 100%;
  position: absolute;
  padding: 1.25rem; 
  top: 0;
  display: flex;
  justify-content: center; /*space-between*/
  height: auto;
}

.customization-modal .top-line div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.customization-modal .top-line div img {
  background-color: var(--mainBlack);
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid var(--mainBlack);
}

.customization-modal .top-line p {
  border: 1px solid var(--mainBlack);
  width: 100%;
  display: grid;
  place-items: center;
  font-weight: 600;
  color: var(--mainWhite);
  background-color: var(--darkGray);
}

.customization-modal .top-line > img {
  background-color: var(--mainWhite);
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid var(--mainBlack);
}

.button-wrapper {
  display: flex;
  gap: 0.62rem;
}

.customization-modal .button-wrapper {
  padding: 0 1.25rem 1.25rem 1.25rem;
  height: 4.5rem;
}

.customization-modal h3 {
  font-weight: 600;
  padding: 1.25rem;
  border-bottom: 2px solid var(--lightGray);
}

.button-wrapper button {
  width: 100%;
}


@media (width > 1000px) {
  .customization-modal {
    flex-direction: row;
  }
  .customization-scroll {
    margin-top: 1.25rem;
    height: 100%;
  }
  .customization-modal > div {
    height: 100%; /*100%*/
  }
  .customization-modal > div:nth-child(1) {
    width: calc(100% - 30rem); /*calc(100% - 30rem)*/
  }
  .customization-modal > div:nth-child(2) {
    width: 30rem; /*30rem*/
  }

  .customization-modal .top-line {
    justify-content: space-between; /*space-between*/
  }
  .customization-modal .top-line p {
    width: 18rem;
  }
  .customization-modal .top-line div {
    width: auto;
  }
}
/* #endregion */


/* #region Equipmnet cart */
.cart-container {
  position: relative;
  display: flex;
  width: 100%;
}

.cart-container .button-white {
  min-width: 12rem;
  width: 100%;
}

.cart-container .button-black {
  width: 14rem;
}

.equipment-wrapper {
  position: absolute;
  width: 100%;
  bottom: 4rem; /*4.5rem*/
  max-height: calc(50dvh - 9.5rem); /*calc(100dvh - 7rem)*/
  border: 1px solid var(--mainBlack);
  background-color: var(--mainWhite);
  padding: 1.25rem;
  padding-top: 0; /*1.25rem*/
  display: none;
  flex-direction: column;
}

.equipment-wrapper h3 {
  font-weight: 600;
}

.equipment-wrapper .wrapper-between-middle {
  padding-block: 1.25rem;
  border-bottom: 2px solid var(--lightGray);
  margin-bottom: 0.25rem;
}

.equipment-scroll {
  width: 100%;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.equipment-scroll > div {
  padding-top: 1rem;
}

.equipment-item {
  padding-block: 0.5rem;
  display: flex;
  gap: 1rem;
}

.equipment-item p:nth-child(1) {
  width: 50%;
}
.equipment-item p:nth-child(2) {
  width: 30%;
}

.equipment-item > div {
  display: flex;
  height: 1.5rem;
  align-items: center;
  gap: 0.3rem;
}

.equipment-item img {
  cursor: pointer;
}

.counter {
  height: 1.5rem;
  border: 1px solid var(--mainBlack);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  padding-inline: 0.3rem;
}

.counter img {
  width: 12px;
}

.counter p {
  text-align: center;
}


@media (width > 1000px) {
  .cart-container {
    position: relative;
    display: block;
    width: auto;
  }

  .cart-container .button-white {
    min-width: 14rem;
    width: auto;
  }

  .cart-container .button-black {
    width: auto;
  }

  .equipment-wrapper {
    bottom: 4.5rem; /*4.5rem*/
    max-height: calc(100dvh - 7rem); /*calc(100dvh - 7rem)*/
    padding-top: 1.25rem; /*1.25rem*/
  }
}
/* #endregion */




/* #region FONT SIZES */
.hero-section h1 {
  font-size: 2rem;
}
.selection-page > div {
  font-size: 1.5rem;
}
.hero-section button {
  font-size: 1.25rem;
}
.product-selection-wrapper > p,
.selection-buttons button,
.login-link,
.button-white,
.button-black,
.options-heading h1,
.customization-modal .top-line p,
.customization-modal h3,
.equipment-wrapper h3 {
  font-size: 1rem;
}
.options-configurator-description h2,
.options-configurator-description p {
  font-size: 1rem;
}
.product-items-wrapper p {
  font-size: 0.875rem;
}
.product-category-selection button ,
.filter-assets p,
.options-configurator-description button,
.options-configurator-description a,
.product-details-scroll b,
.product-details-scroll p,
.product-details-scroll a,
.equipment-scroll {
  font-size: 0.75rem;
}
.product-subcategory-selection button,
.product-items-wrapper b,
.counter p {
  font-size: 0.625rem;
}


@media (width > 800px) {
  .hero-section h1 {
    font-size: 3.375rem;
  }
  .selection-page > div {
    font-size: 2rem;
  }
  .hero-section button {
    font-size: 1.5rem;
  }
  .product-selection-wrapper > p,
  .selection-buttons button,
  .login-link,
  .button-white,
  .button-black,
  .options-heading h1,
  .customization-modal .top-line p,
  .customization-modal h3,
  .equipment-wrapper h3 {
    font-size: 1.25rem;
  }
}
/* #endregion */