* {
  padding: 0; margin: 0; box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: #222;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  color: white;
}

h2 {
  font-size: 2rem;
  color: #ccc;
}

img {
  padding-top: 2rem;
}

.configurator {
  width: 10rem;
  height: 10rem;
  background-color: #33bebe;
}

iframe {
  width: 70rem;
  height: 40rem;
}